/*Parámetros generales*/

* {
  box-sizing: border-box;
}

body {
  background-color: #aaaaaa;
  background-image: url();
  background-attachment: fixed;
  background-size: cover;
  color: #000;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 16px;
  line-height: 1.6em;
  margin: 0;
}

.container {
  width: 85%;
  margin: auto;
}

/*Encabezado - Menu*/
header {
  width: 100%;
  background: #af9503;
}

#btn-menu {
  display: none;
}

header label {
  display: none;
  width: 50px;
  padding: 10px;
  border-right: 1px solid #fff;
}

header label img {
  width: 30px;
  height: 30px;
  opacity: 0.4;
}

header label:hover {
  cursor: pointer;
  background: rgba(0, 0, 0, 0.3);
}

.menu ul {
  margin: 0;
  list-style: none;
  padding: 0;
  display: flex;
  flex-direction: row;
}

.menu li {
  border-right: 1px solid #fff;
}

.menu li:hover {
  background: rgba(0, 0, 0, 0.3);
}

.menu li a {
  display: block;
  padding: 15px 20px;
  color: #fff;
  text-decoration: none;
}

.menu-link {
  display: flex;
  justify-content: center;
}

/*Juego - tablero*/
.titulo {
  text-align: center;
  font-size: 2em;
  padding-bottom: 0.5em;
}
.row {
  width: 85%;
  display: flex;
  margin: auto;
}

#juego-damas {
  width: 70%;
  padding: 20px;
}

#tablero-marco {
  background-color: blue;
  margin: auto;
}

#tablero-damas {
  border-collapse: collapse;
  border: 0;
}

.casilla-blanca {
  width: 60px;
  height: 60px;
  background-color: white;
}

.casilla-negra {
  width: 60px;
  height: 60px;
  background-color: black;
}

.ficha-blanca {
  background-image: url(../images/fichaGris.png);
}

.ficha-negra {
  background-image: url(../images/fichaRojo.png);
}

.casilla-seleccionada {
  border: 3px solid greenyellow;
}

/*Area Jugadores*/
aside#menu-tablero {
  width: 30%;
  background-color: #333333;
  padding: 15px;
  margin-top: 30px;
  margin-bottom: 30px;
  border: 5px solid #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
  max-height: 150px;
}

#menu-tablero h2 {
  font-size: 30px;
  color: orange;
  text-align: center;
}

.puntajes {
  display: flex;
  flex-direction: column;
  margin-top: 10px;
  text-align: center;
}

.puntajes h3 {
  color: #fff;
  font-style: italic;
  margin-right: 10px;
  text-align: center;
  flex-direction: row;
}

.jugador-puntaje {
  font-size: 30px;
  color: #000;
  font-style: italic;
  margin-right: 10px;
  text-align: center;
  width: 100px;
  background-color: #ccc;
  border: 4px solid #fff;
}

#nombreJugador1,
#nombreJugador2 {
  color: #fff;
  font-weight: bolder;
  text-align: left;
}

#turno-jugador {
  font-size: 25px;
  font-weight: 600;
  margin-top: 10px;
  text-align: center;
}

#boton-nueva-partida1 {
  height: 35px;
  width: 90%;
  font-size: 20px;
  font-weight: bold;
  color: #ffffff;
  background-color: #af9503;
  border: 0;
  border-radius: 5px;
  border-right: 7px solid blue;
  border-bottom: 7px solid blue;
  margin-top: 25px;
  margin-bottom: 35px;
}

#boton-nueva-partida:hover {
  background-color: #af9503;
}
